@import "@/styles/base";

.main {
  @mixin mod($mod) {
    @include modifier("main", $mod){
      @content;
    }
  }
  @mixin mods($mods...) {
    @for $i from 0 to length($mods) {
      .main_#{nth($mods, $i + 1)} & {
        @content;
      }
    }
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  @include option(padding, $pTop $pSide $pBottom);
  box-sizing: border-box;
}

