@import "@/styles/base";

.container {
  @mixin mod($mod) {
    @include modifier("container", $mod){
      @content;
    }
  }
  @mixin mods($mods...) {
    @for $i from 0 to length($mods) {
      .container_#{nth($mods, $i + 1)} & {
        @content;
      }
    }
  }

  position: relative;
  width: 100%;
  height: 100%;

  &_intro{
    height: 100%;
  }

  &__block{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @include option(width, $DESIGN-W-M);
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: $BLUE;

    @include MOBILE{
      min-width: 100%;
    }

    &-enter{
      opacity: 0;
    }

    &-enter-active{
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }

    &-exit{
      opacity: 1;
    }

    &-exit-active{
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

