/**
 * Обычный текст
 */

%DEFAULT {
  font-family: $BASE-FONT;
  @include option(font-size, $PIC);

  color: $TEXT;
}



%Question {
  font-family: $FONT;
  @include option(font-size, 18px);
  line-height: 1.2;
  text-transform: uppercase;
}

%B-TITLE{
  @include option(font-size, 30px);
  line-height: 1.14;
  font-weight: 700;
}

%TITLE {
  @include option(font-size, 28px);
  line-height: 1.14;
  font-weight: 700;
}

%TEXT {
  @include option(font-size, 13px);
  @include option(line-height, 16px);
  font-weight: 500;
}

%NOTE {
  @include option(font-size, 10px);
  @include option(line-height, 12px);
  font-weight: 500;
}
